!!! Strict
%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "#{options[:url]}/style.css"}/
    %title
      = options[:title]
      - if defined? title
        \-
        = title
    - if defined? options[:stylesheet]
      %link{:rel => "stylesheet", :type => "text/css", :href => "#{options[:url]}/#{options[:stylesheet]}"}/
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
  %body
    = content

  - if options[:google_analytics] != nil and not options[:google_analytics].empty?
    %script{:src => 'http://www.google-analytics.com/ga.js', :type => 'text/javascript'}/
    :javascript
      try {
      var pageTracker = _gat._getTracker("#{options[:google_analytics]}_");
      pageTracker._trackPageview();
      } catch(err) {}



