
.post
  %h2.title
    %a{:href => "#{options[:url]}/#{post[:filename][:generated]}"}= post[:title]
  .date
    = post[:created_at].strftime('%Y-%m-%d')
  .author
    by
    = post[:author]
  .content
    ~ post[:markdown]

- if previous_post or next_post
  .navigation
    %h3 Navigation
    %ul
      - if previous_post
        %li
          Previous:
          %a.next{:href => "#{options[:url]}/#{previous_post[:filename][:generated]}", :title => "#{previous_post[:title]}"}= "#{previous_post[:title]}"

      - if next_post
        %li
          Next:
          %a.next{:href => "#{options[:url]}/#{next_post[:filename][:generated]}", :title => "#{next_post[:title]}"}= "#{next_post[:title]}"
