
.post
  %h2.title
    %a{:href => "#{post.url}"}= post.title
  .tags
    - post.tags.each do |tag|
      - if WhoNeedsWP::options[:use_technorati_links]
        %a{:href => "http://technorati.com/tag/#{tag}", :rel => "tag"}= "#{tag}"
      - else
        = tag
  .date
    = post.created_at.strftime("%B %d, %Y")
  
  .author
    by
    = post.author
  .content
    ~ post.markdown.to_html

- if previous_post or next_post
  .navigation
    %h3 Navigation
    %ul
      - if previous_post
        %li
          Previous:
          %a.next{:href => "#{previous_post.url}", :title => "#{previous_post.title}"}= "#{previous_post.title}"

      - if next_post
        %li
          Next:
          %a.next{:href => "#{next_post.url}", :title => "#{next_post.title}"}= "#{next_post.title}"
